#no1{
    width: 750px; 
    margin-top: 60px;
    margin-left: 350PX;
}
#no2{
    width: 650px;
    margin-left:600px ;
    
}
#no3{
    width: 700px;
    margin-left: 70px;
    margin-top: 60PX;
}
#no6{
    width: 500px;
    margin-left: 100px;
}