#iphone12{
position: absolute;
width: 600px;

}
#iphone13{
    
position: absolute;
top: -85px;
width: 800px;
left: 1100px;

}
#samsungs22{
    
position: absolute;
width:600px;
top: 350px;
left: 595px;
}
