#iphone13pro{
    position: absolute;
    width: 600px;
    top: -75px;
    
    }
    #iphone13promax{
        
    position: absolute;
    
    width: 600px;
    left: 1200px;
    
    }
    #samsung{
        
    position: absolute;
    width:675px;
    top: 350px;
    left: 595px;
    }
    