#no1{
    width: 700px; 
    margin-top: 75px;
    margin-left: -40px;
}
#no2{
    width: 430px;
    margin-left:200px ;
    
}
#no3{
    width: 540px;
    margin-left: 100px;
}
#no4{
    width: 550px;
}
#no5{
    width: 550px;
}
#no6{
    width: 450px;
}